.dropdown {
  display: none;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
#dropdownMenu2 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  background: white;
}
.dropdown .nav-name {
  color: white;
  margin-left: 13vw; 
}
#nav-bar {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
#nav-bar ul {
  list-style: none;
}
#nav-bar li {
  display: inline-block;
  padding: 10px 40px 0px 40px;
}
li a {
  color: white;
}
.center {
  text-align: center;
}
.nav-name {
  font-size: 25px;
}
#welcome {
  /* background-image: url("https://wallpaper-gallery.net/images/hipster-desktop-wallpaper-hd/hipster-desktop-wallpaper-hd-19.jpg"); */
  background: url("./images/welcome\ image.gif");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  
  height: 100vh;
  padding-top: 35vh;
  text-align: center;
  color: #fff;
}
.name {
  text-shadow: 2px 2px #000;
}
#about {
  padding: 70px;
  background: url("./images/roses.jpg");
  background-size: contain;
  color: white;
}
#profile {
  display: inline-block;
  margin-left: 20%;
  vertical-align:top;
}
#profile img{
  border-radius: 300px;
  border: 5px solid black;
  height: 300px;
  margin-bottom: 20px;
}
.about-text{
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  width: 30%;
  vertical-align:top;
}
#skills {
  background-color: black;
  color: white;
  padding: 70px 0px;
}
#skills i {
  font-size: 25px;
  padding-top: 20px;
}
#skills-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
#frontend, #backend, #teamplayer, #selfstarter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 5);
  margin: 10px;
  border: 1px solid white;
  border-radius: 3px;
}
#skills ul {
  list-style: none;
  text-align: left;
}
.icon {
  background-color: white;
  width: 22px;
  margin-top: 16px;
  margin-bottom: 4px;
  vertical-align: bottom;
}
#projects {
  padding: 70px 0px;
  color: white;
  background: url("./images/roses.jpg")
}
.container-fluid {
  width: 100%;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.container-fluid .box {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid .box .imgBox {
  position: relative;
  overflow: hidden;
  border: 4px solid black;
}
.container-fluid .box .imgBox img {
  width: 100%;
  transition: transform 2s;
  height: 100%;
}
.container-fluid .box .details {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,.8); 
  transform: scaleY(0);
  transition: transform .5s;
  /* height: 175px; */
  height: 37vh;
}
.container-fluid .box:hover .details {
  transform: scaleY(1);
  
}
.container-fluid .box .details .content{
  /* position: absolute; */
  /* top: 50%;
  transform: translateY(-50%); */
  text-align: center;
  padding-top: 15px;
  color: #fff;
}
.container-fluid .box .details h2 {
  margin: 0;
  padding: 0;
}
.imgBox {
  /* height: 200px; */
  height: 40vh;
}
.deployed {
  margin: 10px;
  background: forestgreen;
  color: white;
}
.repo{
  background: navy;
  color: white;
}
@media screen and (max-width: 780px) {
.dropdown {
  display: initial;
}
#nav-bar {
  display: none;
}
.imgBox{
  height: auto;
  }
.container-fluid .box {
  width: 100%;
  text-align: center;
  }
.box:hover {
  height: auto;
  width: auto;
}
  .container-fluid .box .details {
    height: auto;
  }  
}
#contact {
  background-color: black;
  color: white;
  text-align: center;
}
#contact a {
  color: black;
}
.footer {
  margin: 0px 10px 40px 10px;
  background-color: white
}


@media screen and (max-width: 640px) {
  #profile img{
  height: 200px;
}
  .about-text{
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  width: 90%;
}
  .project-container {
  margin-left: 10%;
}
  .nav-name {
  font-size: 16px;
}
  #nav-bar li {
  padding: 10px 0px 0px 0px;
  font-size: 12px;
}
  #skills-table {
  display: block;
  justify-content: center;
}
  #frontend, #backend, #teamplayer, #selfstarter {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.container-fluid .box .imgBox img {
  height: 250px;
}
}
